.calendar-main-container {
    height: fit-content;
    width: 50vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: center;
    overflow-x: hidden;
}

.calendar-container {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-scroll {
    border: 0px;
    font-size: 20px;
    color: #2b3149;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2b314996;
    color: white;
}

.calendar-scroll:hover {
    background-color: #2b3149;
}

.calendar-scroll__left {
    left: 0px;
    margin-left: 0px;
}

.calendar-scroll__right {
    margin-right: 0px;
    right: 0px;
}

.calendar-reset {
    display: none;
    position: absolute;
    left: 50%;
    right: 50%;
    border: 0px;
    color: white;
    background-color: #064133b0;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

.calendar-reset:hover {
    background-color: #064133;
}