.calendar-day {
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

.calendar-day__weekday {
    font-weight: 400;
    color: #666666;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

.calendar-day__date {
    font-weight: 800;
    color: #2b3149;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.calendar-day.today {
    background-color: #115343;
}

.calendar-day.today .calendar-day__weekday {
    color: gainsboro;
}

.calendar-day.today .calendar-day__date {
    color: white;
}