.floating-control-panel {
    display: flex;
    position: fixed;
    top: 10vh;
    right: 20px;
    box-shadow: 0px 0px 5px 5px #c0c0c048;
    border-radius: 100px;
    height: fit-content;
    margin: auto;
    flex-direction: column;
    padding: 10px 5px;
    background-color: rgba(204, 204, 204, 0.842);
    border: 1px solid #696969;
}

.control-panel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    outline: none;
    border: 0px;
    border-radius: 50%;
    background-color: darkslategray;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
}