.tag-manager {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tag-manager-description {
    text-align: center;
    color: #2b3149;
    border-bottom: 1px dashed #2b3149;
    width: fit-content;
    margin: 10px auto;
}

.current-tags {
    display: flex;
    justify-items: start;
    flex-direction: row;
    width: 300px;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(187, 187, 187);
    margin: 10px;
    margin-bottom: 0px;
    height: 100px;
    box-shadow: inset 0px 0px 3px 5px rgb(180, 180, 180);
}

.tag-manager__tag-input-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.tag-input-form__input {
    border-radius: 10px;
    outline: none;
    border: 1px solid #818a9e;
    font-size: 16px;
    padding: 15px;
}

.tag-input-save-button {
    outline: 0px;
    padding: 5px;
    font-size: 16px;
    background-color: #eea047;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    height: 50px;
}

.no-tags {
    color: rgb(92, 92, 92);
}