.task-config-form {
    display: flex;
    flex-direction: column;
}

.task-config-form__field label {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 700;
    user-select: none;
}

.task-config-form__field {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.task-config-form__field input,
.form-input {
    padding: 10px;
    outline: none;
    border: 1px solid #818a9e;
    border-radius: 10px;
    margin-top: 5px;
    height: 25px;
    font-size: 16px;
    font-weight: 550;
    color: #2e2e2e;
    position: relative;
}

.task-config-form__field input:focus {
    border-color: orange;
}

.task-config-form__emoji-colour-container {
    display: flex;
    flex-direction: row;
}

.task-config-form__color-picker {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    background-color: #5ba6ec;
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5ba6ec;
}

.task-config-form__emoji-picker {
    user-select: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #818a9e;
    text-align: center;
    padding: 0px;
}

.task-config-form__emoji-picker-emoji {
    text-align: center;
}

.task-config-form__dropdown {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #2e2e2e;
}

.task-config-form__dropdown-icon {
    position: absolute;
    right: 10px;
}

.task-config-form__dropdown-content {
    transition-duration: 2s;
    display: none;
    position: absolute;
    top: 50px;
    background-color: white;
    box-shadow: 0px 0px 5px 5px #a1a1a159;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin-top: 0px;
    list-style-type: none;
}

.task-config-form__submit {
    margin: 10px;
    border: 0px;
    padding: 10px;
    height: 50px;
    font-size: 16px;
    color: white;
    background-color: #eea047;
    border-radius: 10px;
    font-weight: bold;
}