:root {
    /* Define the colours for all the themes */

    --fontColor: #2e2e2e;
    --accentColor: #2b3149;
    --activeProgressBar: #ffffff;
    --activeProgressBarBackground: #ffffff50;

    --blackBorder: #232628a8;
    --blackItemShadow: #2326281a;
    --blackProgressBar: #525355;
    --blackActiveBackground: #232628;
    --blackProgressBarBackground: #7b7f815e;

    --blueBorder: #5ca7eda1;
    --blueActiveBackground: #5ba6ec;
    --blueItemShadow: #bfd2eb8a;
    --blueProgressBar: #5ba6ec;
    --blueProgressBarBackground: #5ba6ec50;

    --orangeActiveBackground: #da8d35;
    --orangeProgressBar: #e79c45;
    --orangeBorder: #da8d35b6;
    --orangeProgressBarBackground: #e9a14f57;
    --orangeItemShadow: #e0995f3d;

    --redActiveBackground: #e05a39;
    --redBorderColor: #dd5c3bd0;
    --redItemShadow: #e6876f48;
    --redProgressBarBackground: #eb765946;
    --redProgressBar: #db6c50d5;

    --greenBorder: #279e5983;
    --greenActiveBackground: #279e59;
    --greenItemShadow: #55e28428;
    --greenProgressBarBackground: #3ad17950;
    --greenProgressBar: #1ca857c4;

}


.task-item {
    display: flex;
    flex-direction: column;
    float: left;
    border: 2px solid var(--blueBorder);
    box-shadow: 0px 0px 5px 5px var(--blueItemShadow);
    border-radius: 10px;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    transition-duration: 0.5s;
    position: relative;
    color: var(--fontColor);
    width: 200px;
    height: 200px;
}

.task-item.orange {
    border-color: var(--orangeBorder);
    box-shadow: 0px 0px 5px 5px var(--orangeItemShadow);
}

.task-item.red {
    border-color: var(--redBorderColor);
    box-shadow: 0px 0px 5px 5px var(--redItemShadow);
}

.task-item.green {
    border-color: var(--greenBorder);
    box-shadow: 0px 0px 5px 5px var(--greenItemShadow);
}

.task-item.black {
    border-color: var(--blackBorder);
    box-shadow: 0px 0px 5px 5px var(--blackItemShadow);
}

.task-item.active {
    transition-duration: 0.5s;
    background-color: var(--blueActiveBackground);
    color: white;
}

.task-item.black.active {
    background-color: var(--blackActiveBackground);
}

.task-item.orange.active {
    background-color: var(--orangeActiveBackground);
}

.task-item.green.active {
    background-color: var(--greenActiveBackground);
}

.task-item.red.active {
    background-color: var(--redActiveBackground);
}

.task-item__details {
    padding: 12px;
    padding-bottom: 0px;
    height: 40%;
}

.task-item__emoji {
    font-size: 25px;
    font-family: 'Noto Color Emoji';
    width: min-content;
}

.task-item__name {
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
}

.task-item__description {
    font-size: 15px;
    margin-top: 0px;
    height: 20%;
}

.task-item__action {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    bottom: 10px;
    margin: auto;
}

.task-item__progress-bar-container {
    display: flex;
    justify-content: center;
}

.task-item__progress-bar {
    display: flex;
    position: absolute;
    width: 70%;
    bottom: 5px;
    height: 2px;
    background-color: var(--blueProgressBarBackground);
}

.task-item__progress-bar.orange {
    background-color: var(--orangeProgressBarBackground);
}

.task-item__progress-bar.black {
    background-color: var(--blackProgressBarBackground);
}

.task-item__progress-bar.green {
    background-color: var(--greenProgressBarBackground);
}

.task-item__progress-bar.red {
    background-color: var(--redProgressBarBackground);
}

.task-item__progress-bar.active {
    background-color: var(--activeProgressBarBackground);
}

.task-item__progress-bar-bar {
    transition-duration: 0.2s;
    height: 100%;
    width: 0%;
    background-color: var(--blueProgressBar);
}

.task-item__progress-bar-bar.black {
    background-color: var(--blackProgressBar);
}

.task-item__progress-bar-bar.orange {
    background-color: var(--orangeProgressBar);
}

.task-item__progress-bar-bar.green {
    background-color: var(--greenProgressBar);
}

.task-item__progress-bar-bar.red {
    background-color: var(--redProgressBar);
}

.task-item.purple {
    border: 2px solid #962a96b4;
    box-shadow: 0px 0px 5px 5px #b84ab831;
}

.task-item.purple.active {
    background-color: #962a96;
}

.task-item__progress-bar.purple {
    background-color: #b661b660;
}

.task-item__progress-bar-bar.purple {
    background-color: #962a96;
}

.task-item__progress-bar-bar.active {
    background-color: var(--activeProgressBar);
}

.task-item__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0px;
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--fontColor);
    border-radius: 5px;
    padding: 5px;
}

.task-item__menu:hover {
    color: var(--accentColor);
}

.task-item.active .task-item__menu {
    transition-duration: 0.5s;
    display: none;
}