.task-tag {
    display: flex;
    background-color: gainsboro;
    color: #1d1d1d;
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    height: min-content;
    width: fit-content;
    box-shadow: 0px 0px 2px 2px rgb(175, 175, 175);
}

.task-tag__close {
    float: right;
    outline: none;
    background-color: transparent;
    border: 0px;
    color: #1d1d1d;
    border-radius: 50%;
    text-align: center;
    height: 100%;
}