.task-item {
    display: flex;
    flex-direction: column;
    border: 2px solid #5ba6eca1;
    box-shadow: 0px 0px 5px 5px #bfd2eb8a;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    transition-duration: 0.5s;
    /* border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; */
    position: relative;
    color: #2e2e2e;
}

.task-item.active {
    transition-duration: 0.5s;
    background-color: #5ba6ec;
    color: white;
}

.task-item__details {
    padding: 12px;
    padding-bottom: 0px;
}

.task-item__emoji {
    font-size: 20px;
}

.task-item__name {
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
}

.task-item__description {
    font-size: 15px;
    margin-top: 0px;
    height: 20%;
}

.task-item__action {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.task-item__progress-bar-container {
    display: flex;
    justify-content: center;
}

.task-item__progress-bar {
    display: flex;
    position: absolute;
    width: 70%;
    bottom: 5px;
    height: 3px;
    background-color: #5ba6ec50;
}

.task-item__progress-bar.active {
    background-color: #ffffff50;
}

.task-item__progress-bar-bar {
    transition-duration: 0.2s;
    height: 100%;
    width: 0%;
    background-color: #5ba6ec;
}

.task-item__progress-bar-bar.active {
    background-color: white;
}