.task-timer__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #3f7eb9;
    border-radius: 50%;
    color: #3f7eb9;
    font-size: 15px;
}

.task-timer__button.orange {
    border-color: #da8d35;
    color: #da8d35;
}

.task-timer__button.active {
    color: white;
    border-color: white;
}

.task-timer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-timer__timer {
    margin-left: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}