.task-data-page {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 80vh;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    justify-content: space-between;
}

.task-data-page__menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px;
    text-align: left;
    padding: 0px;
}

.task-data-page__menu-item {
    color: rgb(158, 158, 158);
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.task-data-page__menu-item.active {
    color: #2b3149;
    border-bottom: 1px dashed #2b3149;
}

.task-data-page__overview {
    padding: 10px;
}

.task-data-page__section {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border: 2px solid rgba(128, 128, 128, 0.486);
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px 3px rgba(112, 112, 112, 0.329); */
    padding: 10px;
}

.task-data-page__section-header {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin: 5px;
}

.section-title {
    color: #2e2e2e;
    width: fit-content;
    height: fit-content;
}

.section-title-icon {
    text-align: center;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    color: royalblue;
}

.task-data-page__task-name {
    margin: 5px;
}

.task-data-page__task-description {
    margin: 5px;
}