.task-counter {
    display: flex;
    flex-direction: row;
}

.task-counter__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3f7eb9;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 15px;
    color: #3f7eb9;
}

.task-counter__button.orange {
    border-color: #da8d35;
    color: #da8d35;
}

.task-counter__count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    font-weight: bold;
}

.task-counter__button:active {
    background-color: #38bedf27;
}

.task-counter__button.green {
    border-color: #279e59;
    color: #279e59;
}

.task-counter__button.orange:active {
    background-color: #eebe8696;
}