.task-checkbox__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3f7eb9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #3f7eb9;
    transition-duration: 0.5s;
}

.task-checkbox__checkbox.checked {
    color: white;
    background-color: #3f7eb9;
}

.task-checkbox__checkbox.orange {
    border-color: #da8d35;
    color: #da8d35;
}

.task-checkbox__checkbox.orange.checked {
    color: white;
    background-color: #da8d35;
}

.task-checkbox__checkbox.green {
    border-color: #279e59;
    color: #279e59;
}

.task-checkbox__checkbox.green.checked {
    background-color: #279e59;
    color: white;
}

.task-checkbox__checkbox.red {
    border-color: #dd5b3b;
    color: #dd5b3b;
}

.task-checkbox__checkbox.red.checked {
    color: white;
    background-color: #dd5b3b;
}

.task-checkbox__checkbox.purple {
    border-color: #962a96;
    color: #962a96;
}

.task-checkbox__checkbox.black {
    border-color: #383838;
    color: #383838;
}

.task-checkbox__checkbox.black.checked {
    color: white;
    background-color: #383838;
}

.task-checkbox__checkbox.purple.checked {
    color: white;
    background-color: #962a96;
}