.task-checkbox__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3f7eb9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #3f7eb9;
    transition-duration: 0.5s;
}

.task-checkbox__checkbox.checked {
    color: white;
    background-color: #3f7eb9;
}

.task-checkbox__checkbox.orange {
    border-color: #da8d35;
    color: #da8d35;
}

.task-checkbox__checkbox.orange.checked {
    color: white;
    background-color: #da8d35;
}